html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*------nav----*/
nav ul{
list-style-type: none;
margin:0;
padding: 0;
overflow: hideen;
background-color:#9FE2BF;

}
nav li{
float: left;

}
nav li a {
display:inline;
color:white;
text-align:center;
padding:14px 16px;
text-decoration: none;

}
nav li a:hover {
background-color:#008080 ;
}
/*---nav---*/

/*---header---*/

header.primary{
  background-color:#235761;
  padding: 20px 50px;
  text-align:center;
}
/*---body---*/

.container{
  width:70vw;
  max-width: 900px;
  margin:40px auto;
  padding: 30px;
  border-width: 10px;
}

img{
  max-width:100%;
  height:auto;
}

body{
  background-color:#088F8F;
  font-family: "Poppins", sans-serif;
}
article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  padding:.4rem;
  font-size: .7rem;
}
article{
  float: left;
  width: 100px;

}
.container{
  background-color:whitesmoke;
}
#content h2{
  text-align: center;
}